.banner-section {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.banner-section img {
    width: 100%;
}

.banner-video-info-container {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    z-index: 1;
}

.video-title {
    font-size: 3rem;
    font-weight: 600;
    color: var(--color-white);
}

.video-buttons {
    display: flex;
    gap: 16px;
}

.video-button {
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 4px;
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--color-white);
    text-decoration: none;
    cursor: pointer;
    padding: 8px 20px;
}

.video-description {
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-white);
    width: 400px;
    max-height: 60px;
    text-overflow: ellipsis;
    overflow: hidden;
}